table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: center;
    padding: 8px;
}
/*
tr:nth-child(even){background-color: #f2f2f2}*/
@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:#000000;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1.1em;
  color: #ffffff;
}

.container th h1 {
	font-weight: bold;
	font-size: 1em;
	text-align: center;
    color: #ffffff;
}

.container td {
	font-weight: normal;
	font-size: 1em;
  	-webkit-box-shadow: 0 1px 0 0 #141414;
	-moz-box-shadow: 0 1px 0 0 #141414;
	box-shadow: 0 1px 0 0 #141414;
}

.container {
	text-align: center;
	margin: auto;
    display: table;
    padding: 0 0 2em 0;
}

.container td, .container th {
	padding-bottom: 2%;
	padding-top: 2%; 
}

.container tr:nth-child(odd) {
	background-color: #d9d9d9;
}

.container tr:nth-child(even) {
	background-color: #b3b3b3;
}

.container th {
	background-color: #2b2b2b;
}
.container tr:hover {
	background-color: #ffffff;
}